// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
IDI_ICON_LOGO           ICON                    "SaaSbeeLogo.ico"
/////////////////////////////////////////////////////////////////////////////
//
// ZPIMGRES
//

BLUEBUTTONDISABLED.PNG                  ZPIMGRES                "BlueButtondisabled.png"
BLUEBUTTONHOVER.PNG                  	ZPIMGRES                "BlueButtonhover.png"
BLUEBUTTONNORMAL.PNG	                ZPIMGRES                "BlueButtonnormal.png"
BLUEBUTTONPRESS.PNG		                ZPIMGRES                "BlueButtonpress.png"
CLOSE_BTN.PNG			                ZPIMGRES                "close_btn.png"
VSCROLL_BAR.PNG		     	            ZPIMGRES                "vscroll_bar.png"
CHECKBOX_BK.PNG		     	            ZPIMGRES                "checkbox_bk.png"
ZOOM_LOGO.PNG							ZPIMGRES				"zoom_logo.png"
waiting.gif								ZPIMGRES				"waiting.gif"

/////////////////////////////////////////////////////////////////////////////
//
// XML
//

IDXML_DEMO_UI       	 XML                     "..\\skin\\DemoUI.xml"
IDXML_MESSAGE_WND        XML                     "..\\skin\\MessageWnd.xml"