//Microsoft Visual C++ generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.


IDI_ICON_LOGO               ICON         "res/SaaSbeeLogo.ico"

IDXML_MAINFRAME_UI      	XML               	"./skin/main_frame.xml"
IDXML_LOGINFRAME_UI 		XML					"./skin/login_frame.xml"
IDXML_LOGINUSER_METTINGFRAME_UI		XML			"./skin/meeting_frame_loginUser.xml"
IDXML_RESTAPI_MEETINGFRAME_UI		XML			"./skin/meeting_frame_restAPI.xml"
IDXML_SCHEDULE_MEETINGFRAME_UI		XML			"./skin/schedule_meeting_frame.xml"
IDXML_SETTINGSFRAME_UI				XML			"./skin/settings_frame.xml"
IDXML_TOOLBAR_BOTTOM_UI				XML			"./skin/toolbar_bottom_frame.xml"
IDXML_MEETING_CHAT_FRAME_UI			XML			"./skin/meeting_chat_frame.xml"
IDXML_JOIN_MEETING_FRAME_UI			XML			"./skin/logged_user_join_meeting.xml"
IDXML_ARROW_BAR_FRAME_UI			XML			"./skin/arrow_frame.xml"
IDXML_MEETING_PARTICIPANT_LIST_UI	XML			"./skin/participant_list_item_frame.xml"
IDXML_MEETING_PARTICIPANT_WINDOW	XML			"./skin/participant_frame.xml"
IDXML_SHARE_SELECTAPP_UI			XML			"./skin/share_selectapp_frame.xml"
IDXML_MORE_BUTTON_MENU_UI		XML			"./skin/more_button_menu_frame.xml"
IDXML_MEETING_CLOSE_CAPTION_UI		XML			"./skin/meeting_closed_caption_frame.xml"
IDXML_MEETING_INVITATION_UI		XML			"./skin/meeting_invitation_frame.xml"
IDXML_CAMERA_CONTROL_UI			XML			"./skin/camera_control_frame.xml"
IDXML_SCHEDULE_EDIT_DIAL_IN_COUNTRY_UI	XML			"./skin/dial_in_country_frame.xml"
IDXML_SHARE_TOOLBAR_WINDOW_UI		XML			"./skin/ShareToolbarWindow.xml"
IDXML_VIEW_OPTIONS_WINDOW_UI		XML			"./skin/ViewOptionsWindow.xml"
IDXML_ANNOTATE_BAR_WINDOW_UI		XML			"./skin/AnnotateBarWindow.xml"
IDXML_ANNOTATE_FORMAT_WINDOW_UI     XML         "./skin/AnnotateFormatWindow.xml"
IDXML_ANNOTATE_DRAW_WINDOW_UI       XML         "./skin/AnnotateDrawWindow.xml"
IDXML_ANNOTATE_STAMP_WINDOW_UI      XML         "./skin/AnnotateStampWindow.xml"
IDXML_ANNOTATE_SPOLIGHT_WINDOW_UI   XML         "./skin/AnnotateSpolightWindow.xml"
IDXML_ANNOTATE_CLEAR_WINDOW_UI      XML         "./skin/AnnotateClearWindow.xml"
/////////////////////////////////////////////////////////////////////////////
//
// ZPIMGRES
//
TABBTN_DOWNARROW.PNG    	ZPIMGRES                "./res/tabbtn_downArrow.png"
TABBTNBK_NEW_ARROW.PNG  	ZPIMGRES                "./res/tabbtnbk_new_arrow.png"
BLUEBUTTONDISABLED.PNG  	ZPIMGRES                "./res/BlueButtondisabled.png"
BLUEBUTTONHOVER.PNG     	ZPIMGRES                "./res/BlueButtonhover.png"
BLUEBUTTONNORMAL.PNG		ZPIMGRES                "./res/BlueButtonnormal.png"
BLUEBUTTONPRESS.PNG			ZPIMGRES                "./res/BlueButtonpress.png"
CLOSE_BTN.PNG				ZPIMGRES                "./res/close_btn.png"
VSCROLL_BAR.PNG		    	ZPIMGRES                "./res/vscroll_bar.png"
ZOOM_LOGO.PNG				ZPIMGRES				"./res/zoom_logo.png"
WAITING.GIF					ZPIMGRES				"./res/waiting.gif"
CHECKBOX_BK.PNG				ZPIMGRES				"./res/checkbox_bk.png"
SLIDER_BG.PNG               ZPIMGRES				"./res/slider_bg.png"
SLIDER_FG.PNG               ZPIMGRES				"./res/slider_fg.png"
SLIDER_THUMB.PNG            ZPIMGRES				"./res/slider_thumb.png"
BTN_RADIO_NON.PNG           ZPIMGRES		        "./res/btn_radio_non.png"
BTN_RADIO_SELECT.PNG        ZPIMGRES			    "./res/btn_radio_select.png"
COMBO.PNG                   ZPIMGRES				"./res/combo.png"
PROGRESS_BK.PNG             ZPIMGRES			    "./res/progress_bk.png"
PROGRESS_FORE.PNG           ZPIMGRES			    "./res/progress_fore.png"

BTN_QS_VIDEO_NORMAL.png		ZPIMGRES				"./res/btn_startmeeting_normal.png"
BTN_QS_VIDEO_HOVER.png		ZPIMGRES				"./res/btn_startmeeting_hover.png"
BTN_QS_VIDEO_PRESS.png		ZPIMGRES				"./res/btn_startmeeting_press.png"
BTN_QS_VIDEO_DISABLE.png	ZPIMGRES				"./res/btn_startmeeting_disable.png"
BTN_QS_NOVIDEO_NORMAL.png		ZPIMGRES				"./res/btn_novideo_normal.png"
BTN_QS_NOVIDEO_HOVER.png		ZPIMGRES				"./res/btn_novideo_hover.png"
BTN_QS_NOVIDEO_PRESS.png		ZPIMGRES				"./res/btn_novideo_press.png"
BTN_QS_NOVIDEO_DISABLE.png		ZPIMGRES				"./res/btn_novideo_disable.png"
BTN_QS_JOIN_NORMAL.png			ZPIMGRES				"./res/btn_joinmeeting_normal.png"
BTN_QS_JOIN_HOVER.png			ZPIMGRES				"./res/btn_joinmeeting_hover.png"
BTN_QS_JOIN_PRESS.png			ZPIMGRES				"./res/btn_joinmeeting_press.png"
BTN_QS_JOIN_DISABLE.png			ZPIMGRES				"./res/btn_joinmeeting_disable.png"
BTN_QS_BACK_NORMAL.png			ZPIMGRES				"./res/btn_backmeeting_normal.png"
BTN_QS_BACK_HOVER.png			ZPIMGRES				"./res/btn_backmeeting_hover.png"
BTN_QS_BACK_PRESS.png			ZPIMGRES				"./res/btn_backmeeting_press.png"
BTN_QS_SCHEDULE_NORMAL.png		ZPIMGRES				"./res/btn_schedule_normal.png"
BTN_QS_SCHEDULE_HOVER.png		ZPIMGRES				"./res/btn_schedule_hover.png"
BTN_QS_SCHEDULE_PRESS.png		ZPIMGRES				"./res/btn_schedule_press.png"
BTN_QS_SCHEDULE_DISABLED.png	ZPIMGRES				"./res/btn_schedule_disabled.png"
BTN_QS_SETTING_NORMAL.png		ZPIMGRES				"./res/btn_setting_normal.png"
BTN_QS_SETTING_HOVER.png		ZPIMGRES				"./res/btn_setting_hover.png"
BTN_QS_SETTING_PRESS.png		ZPIMGRES				"./res/btn_setting_press.png"
BTN_QS_SHARE_NORMAL.png			ZPIMGRES				"./res/btn_directshare_normal.png"
BTN_QS_SHARE_HOVER.png			ZPIMGRES				"./res/btn_directshare_hover.png"
BTN_QS_SHARE_PRESS.png			ZPIMGRES				"./res/btn_directshare_press.png"
BTN_QS_SHARE_DISABLE.png		ZPIMGRES				"./res/btn_directshare_disable.png"
BTN_QS_SHARE_STOP_NORMAL.png		ZPIMGRES				"./res/btn_stop_directshare_normal.png"
BTN_QS_SHARE_STOP_HOVER.png			ZPIMGRES				"./res/btn_stop_directshare_hover.png"
BTN_QS_SHARE_STOP_PRESS.png			ZPIMGRES				"./res/btn_stop_directshare_press.png"


BTN_TB_PARTICIPANT_NORMAL.png		ZPIMGRES			"./res/toolbar_participant_normal.png"
BTN_TB_PARTICIPANT_PRESS.png		ZPIMGRES			"./res/toolbar_participant_press.png"
BTN_TB_STARTVIDEO_NORMAL.png		ZPIMGRES			"./res/toolbar_start_video_normal.png"
BTN_TB_STARTVIDEO_PRESS.png			ZPIMGRES			"./res/toolbar_start_video_press.png"
BTN_TB_STOPVIDEO_NORMAL.png			ZPIMGRES			"./res/toolbar_stop_video_normal.png"
BTN_TB_STOPVIDEO_PRESS.png			ZPIMGRES			"./res/toolbar_stop_video_press.png"
BTN_TB_MUTEAUDIO_NORMAL.png			ZPIMGRES			"./res/toolbar_mute_voip_normal.png"
BTN_TB_MUTEAUDIO_PRESS.png			ZPIMGRES			"./res/toolbar_mute_voip_press.png"
BTN_TB_UNMUTEAUDIO_NORMAL.png		ZPIMGRES			"./res/toolbar_unmute_voip_normal.png"
BTN_TB_UNMUTEAUDIO_PRESS.png		ZPIMGRES			"./res/toolbar_unmute_voip_press.png"
BTN_TB_SHARESTART_NORMAL.png		ZPIMGRES			"./res/toolbar_share_normal.png"
BTN_TB_SHARESTART_PRESS.png			ZPIMGRES			"./res/toolbar_share_press.png"
BTN_TB_SHARESTOP_NORMAL.png			ZPIMGRES			"./res/toolbar_share_stop.png"
BTN_TB_ENDMEETING_NORMAL.png		ZPIMGRES			"./res/toolbar_endmeeting_normal.png"
BTN_TB_ENDMEETING_PRESS.png			ZPIMGRES			"./res/toolbar_endmeeting_press.png"

toolbar_btn_bg.png					ZPIMGRES			"./res/toolbar_btn_bg.png"
toolbar_bg.png						ZPIMGRES			"./res/toolbar_bg.png"
toolbar_btn_participants.png		ZPIMGRES			"./res/toolbar_btn_participants.png"
toolbar_btn_startVideo.png			ZPIMGRES			"./res/toolbar_btn_startVideo.png"
toolbar_btn_stopVideo.png			ZPIMGRES			"./res/toolbar_btn_stopVideo.png"
toolbar_btn_mute.png				ZPIMGRES			"./res/toolbar_btn_mute.png"
toolbar_btn_unmute.png				ZPIMGRES			"./res/toolbar_btn_unmute.png"
toolbar_btn_shareScreen.png			ZPIMGRES			"./res/toolbar_btn_shareScreen.png"
toolbar_btn_chat.png				ZPIMGRES			"./res/toolbar_btn_chat.png"
toolbar_btn_leaveMeeting.png		ZPIMGRES			"./res/toolbar_btn_leaveMeeting.png"

wallview_pre.png					ZPIMGRES			"./res/wallview_pre.png"
wallview_next.png					ZPIMGRES			"./res/wallview_next.png"

people_icon_v.png					ZPIMGRES				"./res/people_icon_v.png"
PLIST_AVTAR_MASK_NORMAL.png			ZPIMGRES				"./res/PLIST_AVTAR_MASK_NORMAL.png"
icon_unmute24x24.png				ZPIMGRES				"./res/icon_unmute24x24.png"
icon_mute24x24.png					ZPIMGRES				"./res/icon_mute24x24.png"
btn_mutePhone24x24.png				ZPIMGRES				"./res/btn_mutePhone24x24.png"
btn_unmutePhone24x24.png			ZPIMGRES				"./res/btn_unmutePhone24x24.png"
btn_sendvideo24x24.png				ZPIMGRES				"./res/btn_sendvideo24x24.png"
btn_stopvideo24x24.png				ZPIMGRES				"./res/btn_stopvideo24x24.png"
icons_raise_hand.png				ZPIMGRES				"./res/icons_raise_hand.png"

tool_line_default.png               ZPIMGRES				"./res/annotate/tool_line_default.png"
tool_line_pressed.png               ZPIMGRES				"./res/annotate/tool_line_pressed.png"
tool_autoLine_default.png           ZPIMGRES                "./res/annotate/tool_autoLine_default.png"
tool_autoLine_pressed.png           ZPIMGRES                "./res/annotate/tool_autoLine_pressed.png"
tool_autoRectangle_default.png      ZPIMGRES				"./res/annotate/tool_autoRectangle_default.png"
tool_autoRectangle_pressed.png      ZPIMGRES				"./res/annotate/tool_autoRectangle_pressed.png"
tool_autoEllipse_default.png        ZPIMGRES                "./res/annotate/tool_autoEllipse_default.png"
tool_autoEllipse_pressed.png        ZPIMGRES                "./res/annotate/tool_autoEllipse_pressed.png"
tool_highlightLine_default.png      ZPIMGRES                "./res/annotate/tool_highlightLine_default.png"
tool_highlightLine_pressed.png      ZPIMGRES                "./res/annotate/tool_highlightLine_pressed.png"
tool_autoArrow_default.png          ZPIMGRES                "./res/annotate/tool_autoArrow_default.png"
tool_autoArrow_pressed.png          ZPIMGRES                "./res/annotate/tool_autoArrow_pressed.png"
tool_rectangleFill_default.png      ZPIMGRES                "./res/annotate/tool_rectangleFill_default.png"
tool_rectangleFill_pressed.png      ZPIMGRES                "./res/annotate/tool_rectangleFill_pressed.png"
tool_ellipsefill_default.png        ZPIMGRES                "./res/annotate/tool_ellipsefill_default.png"
tool_ellipsefill_pressed.png        ZPIMGRES                "./res/annotate/tool_ellipsefill_pressed.png"
tool_rhombus_default.png            ZPIMGRES                "./res/annotate/tool_rhombus_default.png"
tool_rhombus_pressed.png            ZPIMGRES                "./res/annotate/tool_rhombus_pressed.png"
tool_doubleArrow_default.png        ZPIMGRES                "./res/annotate/tool_doubleArrow_default.png"
tool_doubleArrow_pressed.png        ZPIMGRES                "./res/annotate/tool_doubleArrow_pressed.png"
tool_autoRectanglePiece_default.png ZPIMGRES                "./res/annotate/tool_autoRectanglePiece_default.png"
tool_autoRectanglePiece_pressed.png ZPIMGRES                "./res/annotate/tool_autoRectanglePiece_pressed.png"
tool_autoEllipsePiece_default.png   ZPIMGRES                "./res/annotate/tool_autoEllipsePiece_default.png"
tool_autoEllipsePiece_pressed.png   ZPIMGRES                "./res/annotate/tool_autoEllipsePiece_pressed.png"

stamp_arrow_default.png             ZPIMGRES                "./res/annotate/stamp_arrow_default.png" 
stamp_arrow_press.png               ZPIMGRES                "./res/annotate/stamp_arrow_press.png"
stamp_check_default.png             ZPIMGRES                "./res/annotate/stamp_check_default.png"
stamp_check_press.png               ZPIMGRES                "./res/annotate/stamp_check_press.png"
stamp_x_default.png                 ZPIMGRES                "./res/annotate/stamp_x_default.png"
stamp_x_press.png                   ZPIMGRES                "./res/annotate/stamp_x_press.png"
stamp_star_default.png              ZPIMGRES                "./res/annotate/stamp_star_default.png"
stamp_star_press.png                ZPIMGRES                "./res/annotate/stamp_star_press.png"
stamp_heart_default.png             ZPIMGRES                "./res/annotate/stamp_heart_default.png" 
stamp_heart_press.png               ZPIMGRES                "./res/annotate/stamp_heart_press.png"
stamp_qm_default.png                ZPIMGRES                "./res/annotate/stamp_qm_default.png"
stamp_qm_press.png                  ZPIMGRES                "./res/annotate/stamp_qm_press.png" 

tool_spolight_default.png           ZPIMGRES                "./res/annotate/tool_spolight_default.png"
tool_spolight_pressed.png           ZPIMGRES                "./res/annotate/tool_spolight_pressed.png" 
tool_arrow_default.png              ZPIMGRES                "./res/annotate/tool_arrow_default.png"
tool_arrow_pressed.png              ZPIMGRES                "./res/annotate/tool_arrow_pressed.png" 